<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:conteext="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- Define your beans here -->

    <conteext:property-placeholder location="classpath:application.properties"/>

    <bean id="myDatabaseOperation" class="com.databaseOperation.DatabaseOperation">
        <property name="Url" value="${database.url}"/>
        <property name="username" value="${database.username}"/>
        <property name="password" value="${database.password}"/>
    </bean>

    <bean id="myCar" class="com.databaseOperation.Car">
        <constructor-arg ref="myDatabaseOperation"/>
    </bean>

    <bean id="myPlane" class="com.databaseOperation.Plane">
        <property name="DatabaseOperation" ref="myDatabaseOperation"/>
    </bean>

</beans>





